DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
HEXIAM_URL=http://localhost:8000
HEXIAM_JWT_SECRET=
HEXSHARE_PDP_CLIENT_ID=
HEXSHARE_PDP_CLIENT_SECRET=
HEXSHARE_STORAGE=
HEXSHARE_ACCESS_CONTROL=
HEXSHARE_AUTHENTICATOR=
HEXSHARE_POLICY_EVAL=
HEXSHARE_EVENT_BUS=
HEXSHARE_JWT_SECRET=
HEXSHARE_SESSION_SECRET=
HEXSHARE_PUBLIC_URL=http://localhost:8099
HEXSHARE_FRONTEND_URL=